{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
<script type="text/javascript" src="{% static 'polls/js/poll.js' %}"></script>
<script type="text/javascript" src="{% static 'polls/js/jquery.js' %}"></script>

{% if latest_question_list %}
<h1>Poll Questions</h1>
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
