body{
	background-color: #84aebf;
	padding: 50px;
}
h1{
	color: #17272d;
	font-family: sans-serif;
}
ul{
	padding: 0px;
}
li{
	list-style: none;
	padding-bottom: 10px;
}
li a {
	text-decoration: none;
	font-family: sans-serif;
	color: #17272d;
}
